<p id="notice"><%= notice %></p>

<p>
  <strong>Character name:</strong>
  <%= @gunzerker.character_name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @gunzerker.level %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @gunzerker.experience %>
</p>

<p>
  <strong>Health:</strong>
  <%= @gunzerker.health %>
</p>

<p>
  <strong>Current health:</strong>
  <%= @gunzerker.current_health %>
</p>

<p>
  <strong>Action points:</strong>
  <%= @gunzerker.action_points %>
</p>

<p>
  <strong>Badass points:</strong>
  <%= @gunzerker.badass_points %>
</p>

<p>
  <strong>Evasion:</strong>
  <%= @gunzerker.evasion %>
</p>

<%= link_to 'Edit', edit_gunzerker_path(@gunzerker) %> |
<%= link_to 'Back', gunzerkers_path %>
