<div class="container">
 <div class="row">
  <div class="col-lg-4">
    <%= image_tag "Siren.jpg", class: 'show-background' %>      
  </div>
  
  <div class="col-lg-8">
    <div class="card">
    
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Character name:</strong>
        <%= @siren.character_name %>
      </p>

      <p>
        <strong>Level:</strong>
        <%= @siren.level %>
      </p>

      <p>
        <strong>Experience:</strong>
        <%= @siren.experience %>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= @siren.experience % 100 %>%"></div>
        </div>
      </p>

      <p>
        <strong>Health:</strong>
        <%= @siren.current_health %> / <%= @siren.health %>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@siren.current_health.to_f / @siren.health.to_f) * 100 %>%"></div>
        </div>
      </p>

      <p>
        <strong>Action points:</strong>
        <%= @siren.action_points %>
      </p>

      <p>
        <strong>Evasion:</strong>
        <%= @siren.evasion %>
      </p>

      <%#= link_to 'Edit', edit_character_path(@siren) %>
      <%= link_to 'Back', root_path %>
    </div>
  </div>
 </div>
</div>