<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :character_name %>
    <%= form.text_field :character_name, id: :character_character_name %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :character_level %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.number_field :experience, id: :character_experience %>
  </div>

  <div class="field">
    <%= form.label :health %>
    <%= form.number_field :health, id: :character_health %>
  </div>

  <div class="field">
    <%= form.label :action_points %>
    <%= form.number_field :action_points, id: :character_action_points %>
  </div>

  <div class="field">
    <%= form.label :badass_points %>
    <%= form.number_field :badass_points, id: :character_badass_points %>
  </div>

  <div class="field">
    <%= form.label :evasion %>
    <%= form.number_field :evasion, id: :character_evasion %>
  </div>

  <div class="field">
    <%= form.label :character_class %>
    <%= form.text_field :character_class, id: :character_character_class %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
