<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="container">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header gunzerker" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Gunzerker - "B IS FOR BULLETS BITCHES!!"
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <%= image_tag "Gunzerker.jpg", alt: "Person holding two large guns", class: "card-img-top", height: 350 %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header siren" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Siren - "If anyone tries to capture me, I'll incinerate their brain."
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <%= image_tag "Siren.jpg", alt: "A woman holding a ball of energy", class: "card-img-top", height: 240 %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header psycho" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Psycho - "How can I snap your neck if you don't have one?!"
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <%= image_tag "Psycho.png", alt: "A woman holding a ball of energy", class: "card-img-top", height: 240 %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header commando" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Commando - "Ten years of Dahl military experience at your service."
          </a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-block">
          <%= image_tag "Commando.png", alt: "A man with a rifle, standing next to a turret", class: "card-img-top", height: 240 %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header assassin" role="tab" id="headingFive">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Assassin - "Leaves falling from trees / Snow drifting onto the ground / Life leaving your corpse."
          </a>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="card-block">
          <%= image_tag "Assassin.jpg", alt: "A woman holding a ball of energy", class: "card-img-top", height: 240 %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header mechromancer" role="tab" id="headingSix">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Mechromancer - "To hell with the first law!"
          </a>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="card-block">
          <%= image_tag "Mechromancer.jpg", alt: "A woman holding a ball of energy", class: "card-img-top", height: 240 %>
        </div>
      </div>
    </div>
  </div>
</div>