<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Characters</h1>

  <h2 class="character-class-header">Assassins</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    <% @assassins.each do |character| %>
      <tr>
        <td scope="row"><%= link_to character.character_name, character %></td>
        <td><%= character.level %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h2 class="character-class-header">Commandos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    <% @commandos.each do |character| %>
      <tr>
        <td scope="row"><%= link_to character.character_name, character %></td>
        <td><%= character.level %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h2 class="character-class-header">Gunzerkers</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    <% @gunzerkers.each do |character| %>
      <tr>
        <td scope="row"><%= link_to character.character_name, character %></td>
        <td><%= character.level %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h2 class="character-class-header">Mechromancer</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    <% @mechromancers.each do |character| %>
      <tr>
        <td scope="row"><%= link_to character.character_name, character %></td>
        <td><%= character.level %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h2 class="character-class-header">Psychos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    <% @psychos.each do |character| %>
      <tr>
        <td scope="row"><%= link_to character.character_name, character %></td>
        <td><%= character.level %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h2 class="character-class-header">Sirens</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
    <% @sirens.each do |character| %>
      <tr>
        <td scope="row"><%= link_to character.character_name, character %></td>
        <td><%= character.level %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to 'New Character', new_character_path %>
</div>