<div class="container">
  <div class="card">
  
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Character name:</strong>
      <%= @character.character_name %>
    </p>

    <p>
      <strong>Level:</strong>
      <%= @character.level %>
    </p>

    <p>
      <strong>Experience:</strong>
      <%= @character.experience %>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= @character.experience % 100 %>%"></div>
      </div>
    </p>


    <p>
      <strong>Health:</strong>
      <%= @character.health %>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@character.current_health.to_f / @character.health.to_f) * 100 %>%"></div>
      </div>
    </p>

    <p>
      <strong>Current Health</strong>
      <%= @character.current_health %>
    </p>

    <p>
      <strong>Action points:</strong>
      <%= @character.action_points %>
    </p>

    <p>
      <strong>Badass points:</strong>
      <%= @character.badass_points %>
    </p>

    <p>
      <strong>Evasion:</strong>
      <%= @character.evasion %>
    </p>

    <p>
      <strong>Character class:</strong>
      <%= @character.character_class %>
    </p>

    <%#= link_to 'Edit', edit_character_path(@character) %>
    <%= link_to 'Back', root_path %>
  </div>
</div>
