<%= form_with(model: commando, local: true) do |form| %>
  <% if commando.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commando.errors.count, "error") %> prohibited this commando from being saved:</h2>

      <ul>
      <% commando.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :character_name %>
    <%= form.text_field :character_name, id: :commando_character_name %>
  </div>

  <div class="actions text-center pt-3">
    <%= form.submit %>
  </div>
<% end %>
